*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

@import url(//db.onlinewebfonts.com/c/94f4f6f12e1716b871141ea5e5fc6988?family=Sofachrome);

@font-face {font-family: "Sofachrome"; 
    src: url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.eot"); 
    src: url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.svg#Sofachrome") format("svg"); 
}


body {
    background-image: url(background2.jpeg);
    font-family: 'Sofachrome';
    width: 100vw;
    height: 100vh;

}

.contact {
    width: 100%;
    color: salmon;
    font-family: 'Sofachrome';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.4vw;
    text-align: center;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    margin-top: 6rem;
}

a:hover {
    opacity: 0.7;
  }

div.table {
    display: table;
    margin: 0 auto;
    background-color: none;
    margin-bottom: 1%;
}

ul.horizontal-list{
    padding: 5vw 30vw 0;
    list-style: none;
    /*background-color: none;*/
}

ul.horizontal-list li {
    display: inline;
}

.embed-youtube {
    /*display: table;
    margin: 0 auto;*/
    margin: auto;
    margin-top: 5vh;
    width: 60vw;
    height: 40%;
    overflow: hidden;
    position: relative;
    
}

.embed-youtube iframe {
    margin: auto;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* Style all font awesome icons */
.fa {
    padding: 1.25vw;
    font-size: 3.75vw;
    width: 6.25vw;
    text-align: center;
    text-decoration: none;

  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }


  .fa-instagram {
    background: #8134AF;
    color: white;
  }

  .fa-youtube {
    background: #dd2a7b;
    color: white;
  }


h1 {
    width: 100%;
    color: whitesmoke;
    font-family: 'Sofachrome';
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: 0.4vw;
    text-align: center;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
}

h2 {
    width: 100%;
    color: whitesmoke;
    font-family: 'Sofachrome';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.4vw;
    text-align: center;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    margin-top: 6rem;
}

.header{
    margin: auto;
    width: 100%;
    height: 20%;
    display: block;
    background-color: #f4a259;
}

