*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import url(//db.onlinewebfonts.com/c/94f4f6f12e1716b871141ea5e5fc6988?family=Sofachrome);

@font-face {font-family: "Sofachrome"; 
    src: url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.eot"); 
    src: url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/94f4f6f12e1716b871141ea5e5fc6988.svg#Sofachrome") format("svg"); 
}


body {
    background-image: url(background2.png);
    background-size: cover;
    font-family: 'Sofachrome';
    width: 100vw;
    height: 100vh;
}


a.paybutton{
    color: white;
    font-family: 'Sofachrome';
    font-weight: 100;
    font-size: 2vw;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
}

.contact {
    width: 100%;
    color: salmon;
    font-family: 'Sofachrome';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.4vw;
    text-align: center;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    margin-top: 0rem;
}

a:hover {
    opacity: 0.7;
    transform: scale(1.2);
  }

/* Navbar container */
.table {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
  /* Navbar list */
  .horizontal-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Navbar links */
  .horizontal-list li {
    margin: 0 0px;
    font-size: 4vw;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    /* Navbar container */
    .table {
      flex-wrap: wrap;
    }
    
    /* Navbar list */
    .horizontal-list {
      justify-content: center;
    }
    
    /* Navbar links */
    .horizontal-list li {
      margin: 5px;
    }
  }
  

/* Style all font awesome icons */
.fa {
    padding: 5vw 6vw;
    width: auto; /* change to auto to allow content to determine width */
    text-align: center;
    text-decoration: none;
    font-family: 'Sofachrome';
}
  
  .fa-icon-box {
    font-family: 'Sofachrome' !important;
    font-size: 1vw;
    display: inline-block; /* add to make the box display inline */
    vertical-align: middle; /* add to vertically align the box */
    background-color: antiquewhite;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram {
    background: #8134AF;
    color: white;
  }
  
  .fa-youtube {
    background: #dd2a7b;
    color: white;
  }


.embed-youtube {
    /*display: table;
    margin: 0 auto;*/
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 5vh;
    height: 0;
    overflow: hidden;
    position: relative;
    padding: 0 0 56.25%;
    margin-bottom: 5vh;
    
}

.embed-youtube iframe {
    margin: auto;
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    position: absolute;
}

.footer {
    text-align: center;
    height: 5rem;
}




/*GECHO STORE*/

.store {
    background-color: #1c1c1c;
    color: #fff;
    padding: 2.5vw;
    text-align: center;
    }
    
    .store h2 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    }
    
    .store p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    }
    
    .store a {
    background-color: #fff;
    color: #000;
    display: inline-block;
    font-size: 1.125rem;
    padding: 2.5vw 5vw;
    text-decoration: none;
    transition: background-color 0.2s ease;
    }
    
    .store a:hover {
    background-color: #000;
    color: #fff;
    }
    
    /* Default styles */
    .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 80vw;
    }
    
    .product {
    background-color: #fff;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
    margin-bottom: 1.25rem;
    padding: 2.5vw;
    width: 30%;
    }
    
    .product img {
    display: block;
    margin: 0 auto 0.625rem;
    max-width: 100%;
    }
    
    .product h2 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    }
    
    .product p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.625rem;
    }
    
    .product .price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
    }
    
    .product button {
    background-color: #007bff;
    border: none;
    border-radius: 0.3125rem;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 2.5vw 5vw;
    transition: all 0.3s ease;
    }
    
    .product button:hover {
    background-color: #0069d9;
    }
    
    /* Media queries for responsive design */
    @media screen and (max-width: 48rem) {
    .product {
    width: 48%;
    }
    }
    
    @media screen and (max-width: 30rem) {
    .product {
    width: 100%;
    }
    }
      

h1 {
    width: 100%;
    color: whitesmoke;
    text-shadow: 0.1em -0.1em 0.2em yellow, -0.1em 0.1em purple;
    font-family: 'Sofachrome';
    font-style: italic;
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: 0.4vw;
    text-align: center;
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: black;
    margin-bottom: 5%;
}

h2 {
    width: 100%;
    color: whitesmoke;
    font-family: 'Sofachrome';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.4vw;
    text-align: center;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    margin-top: 6rem;
}

.header{
    margin: auto;
    width: 100%;
    height: 30%;
    display: block;
    background-color: #f4a259;
}

footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
  }